Repository ubclaunchpad/inertia: changes, and which Codecov flags are due for each by the changed paths.
All: client, daemon

Update Launch Pad Logo typography (#335)
  daemon/web/assets/logo/launchpad-logo-light-blue-01.svg
Due: none

Update codecov.yml
  codecov.yml
Due: none

Updated footer for web app
  daemon/web/components/Footer/Footer.js
  daemon/web/components/Footer/index.sass
  daemon/web/styles/colors.sass
Due: none

Creat web app footer (#327)
  daemon/web/components/Footer/Footer.js
  daemon/web/components/Footer/index.sass
  daemon/web/package-lock.json
  daemon/web/package.json
  daemon/web/pages/main/Main.js
  daemon/web/styles/colors.sass
  daemon/web/styles/typography.sass
  daemon/web/webpack.config.js
  daemon/web/webpack.prod.js
Due: none

Handle log channel printing in main daemon process
  daemon/inertiad/daemon.go
  daemon/inertiad/mock_test.go
  daemon/inertiad/project/deployment.go
Due: daemon

Correct goroutine loop logic
  daemon/inertiad/daemon.go
  daemon/inertiad/project/deployment.go
Due: daemon

Correctly set project active state
  daemon/inertiad/project/deployment.go
Due: daemon

Update endpoint preconditions
  daemon/inertiad/down.go
  daemon/inertiad/webhook.go
Due: daemon

Clean up daemon startup output
  daemon/inertiad/daemon.go
Due: daemon

Fix test
  daemon/inertiad/down_test.go
Due: daemon

Use formatting directives instead of strconv
  daemon/inertiad/build/builder.go
Due: daemon

Use standard doc variable format
  daemon/inertiad/daemon.go
Due: daemon

Abstract containerWait procedure into helper function
  daemon/inertiad/build/builder.go
  daemon/inertiad/containers/containers.go
Due: daemon

Write deploy error to logger
  daemon/inertiad/up.go
Due: daemon

Disable patch coverage
  codecov.yml
Due: none

Implemented favicon
  daemon/web/assets/logo/favicon.ico
  daemon/web/index.html
  daemon/web/webpack.config.js
Due: none

Create Client from ENV and negotiate API version from there
  daemon/inertiad/containers/docker.go
  daemon/inertiad/containers/docker_test.go
Due: daemon

Recreate env bucket upon deleting
  daemon/inertiad/project/data.go
Due: daemon

Don't reassign deployment
  daemon/inertiad/reset.go
Due: daemon

Prompt for input for build config, update msgNoDeployment remote var
  cmd/format.go
  cmd/input.go
Due: client

Add test for DataManager.destroy() behaviour
  daemon/inertiad/project/data_test.go
Due: daemon

Don't reassign deployment (#345)
  daemon/inertiad/reset.go
Due: daemon

Ignore prune errors
  daemon/inertiad/build/builder_test.go
Due: daemon

Prompt for input for build config, update msgNoDeployment remote var (#344)
  cmd/format.go
  cmd/input.go
  daemon/inertiad/build/builder_test.go
Due: client, daemon

Create Client from ENV then negotiate API version (#347)
  daemon/inertiad/containers/docker.go
  daemon/inertiad/containers/docker_test.go
Due: daemon

Recreate env bucket upon deleting (#346)
  daemon/inertiad/project/data.go
  daemon/inertiad/project/data_test.go
Due: daemon

Add option to load AWS credentials from file
  cmd/provision.go
  provision/ec2.go
Due: client

Automatically expose ports exposed in image to host
  daemon/inertiad/build/builder.go
Due: daemon

Rename containers when stopped
  daemon/inertiad/containers/containers.go
Due: daemon

Properly end http streams
  daemon/inertiad/log/logger.go
Due: daemon

Update prune endpoint response message
  daemon/inertiad/prune.go
Due: daemon

Use inline err != nil
  daemon/inertiad/project/deployment.go
Due: daemon

Add newlines to ec2 provision output and refactor logic
  provision/ec2.go
Due: client

Add amazing test
  provision/ec2_test.go
Due: client

Added fontawesome link to index.html
  daemon/web/index.html
Due: none

added back changes
  daemon/web/actions/_constants.js
  daemon/web/actions/dashboard.js
  daemon/web/components/IconHeader/IconHeader.js
  daemon/web/components/Table/Table.js
  daemon/web/components/Table/index.sass
  daemon/web/pages/dashboard/Dashboard.js
  daemon/web/pages/main/Main.js
  daemon/web/store/dashboard.js
Due: none

reverted changes for icon header
  daemon/web/components/IconHeader/IconHeader.js
Due: none

Simplify id, key assignment
  cmd/provision.go
Due: client

Implement favicon
  daemon/web/assets/logo/favicon.ico
  daemon/web/index.html
  daemon/web/webpack.config.js
Due: none

Implement favicon (#360)
  daemon/web/assets/logo/favicon.ico
  daemon/web/index.html
  daemon/web/webpack.config.js
Due: none

Path conditions:
  client: any of: cfg/, cmd/, client/, local/, provision/, common/
  daemon: any of: daemon/inertiad/, common/
