Repository ubclaunchpad/inertia: changes, and which Codecov flags are due for each by the changed paths.
All: client, daemon

Add utility functions to report build points
  daemon/inertiad/build/builder.go
  daemon/inertiad/build/output.go
  daemon/inertiad/containers/containers.go
Due: daemon

Ignore prune errors
  daemon/inertiad/containers/containers_test.go
Due: daemon

Assign ec2 success code to const
  provision/ec2.go
Due: client

Remove unused attempts counter
  provision/ec2.go
Due: client

lint fixes
  daemon/web/actions/dashboard.js
  daemon/web/pages/dashboard/Dashboard.js
  daemon/web/pages/main/Main.js
Due: none

Add newlines to ec2 provision output and refactor logic (#357)
  provision/ec2.go
Due: client

Add option to load AWS credentials from file (#355)
  cmd/provision.go
  provision/ec2.go
  provision/ec2_test.go
Due: client

Basic dashboard implementation (#359)
  daemon/web/actions/_constants.js
  daemon/web/actions/dashboard.js
  daemon/web/components/Table/Table.js
  daemon/web/components/Table/index.sass
  daemon/web/pages/dashboard/Dashboard.js
  daemon/web/pages/main/Main.js
  daemon/web/store/dashboard.js
Due: none

Add test to assert image build failures return an error
  daemon/inertiad/build/builder.go
  daemon/inertiad/build/builder_test.go
  test/build/dockerfile/fail.Dockerfile
Due: daemon

Add test to assert image build failures return an error (#363)
  daemon/inertiad/build/builder.go
  daemon/inertiad/build/builder_test.go
  test/build/dockerfile/fail.Dockerfile
Due: daemon

Update linter dependencies
  daemon/web/package-lock.json
  daemon/web/package.json
Due: none

First pass lint, add missing var
  daemon/web/actions/_constants.js
  daemon/web/components/Footer/Footer.js
  daemon/web/components/IconHeader/IconHeader.js
  daemon/web/components/LogView.js
  daemon/web/components/PruneImageButton/PruneImageButton.js
  daemon/web/components/ShutdownButton/ShutdownButton.js
  daemon/web/components/Status/Status.js
  daemon/web/components/TerminalView/TerminalView.js
  daemon/web/index.js
  daemon/web/pages/app/App.js
  daemon/web/pages/containers/Containers.js
  daemon/web/pages/dashboard/Dashboard.js
  daemon/web/pages/login/Login.js
  daemon/web/pages/main/Main.js
  daemon/web/pages/settings/Settings.js
Due: none

Update code to match new rules
  daemon/web/components/LogView.js
  daemon/web/components/Table/Table.js
  daemon/web/components/TerminalView/TerminalView.js
  daemon/web/pages/app/App.js
  daemon/web/pages/containers/Containers.js
  daemon/web/pages/dashboard/Dashboard.js
  daemon/web/pages/login/Login.js
  daemon/web/pages/main/Main.js
Due: none

Add sass-lint, refactor components into index.js
  daemon/web/.sass-lint.yml
  daemon/web/components/Footer/index.js
  daemon/web/components/Footer/index.sass
  daemon/web/components/IconHeader/index.js
  daemon/web/components/IconHeader/index.sass
  daemon/web/components/LogView/index.js
  daemon/web/components/PruneImageButton/index.sass
  daemon/web/components/Status/index.js
  daemon/web/components/Status/index.sass
  daemon/web/components/Table/index.js
  daemon/web/components/Table/index.sass
  daemon/web/components/TerminalView/index.js
  daemon/web/components/TerminalView/index.sass
  daemon/web/components/buttons/PruneImageButton/index.js
  daemon/web/components/buttons/ShutdownButton/index.js
  daemon/web/components/buttons/index.js
  daemon/web/components/buttons/index.sass
  daemon/web/index.html
  daemon/web/package-lock.json
  daemon/web/package.json
  daemon/web/pages/containers/Containers.js
  daemon/web/pages/containers/index.sass
  daemon/web/pages/dashboard/Dashboard.js
  daemon/web/pages/main/Main.js
  daemon/web/pages/settings/Settings.js
  daemon/web/store/index.js
  daemon/web/styles/colors.sass
  daemon/web/styles/index.sass
  daemon/web/styles/typography.sass
Due: none

Refactor pages into index.js
  daemon/web/index.js
  daemon/web/package.json
  daemon/web/pages/App/index.js
  daemon/web/pages/Containers/index.js
  daemon/web/pages/Dashboard/index.js
  daemon/web/pages/Login/index.js
  daemon/web/pages/Main/index.js
  daemon/web/pages/Settings/index.js
Due: none

Add sass-lint to lint script
  Makefile
Due: none

Update sass-loader
  daemon/web/package-lock.json
  daemon/web/package.json
Due: none

Fix colour variable reference
  daemon/web/components/Status/index.sass
Due: none

Updated
  daemon/inertiad/up.go
Due: daemon

Rename dereference helper for clarity
  cfg/config.go
  common/toml.go
  daemon/inertiad/project/deployment.go
  daemon/inertiad/up.go
Due: client, daemon

Update webpack loader configs
  daemon/web/webpack.config.js
  daemon/web/webpack.prod.js
Due: none

Update flag paths
  codecov.yml
Due: none

Remove flags
  codecov.yml
Due: none

Add appveyor build config
  .appveyor.yml
  README.md
Due: none

Remove codecov flags (#366)
  codecov.yml
Due: none

Adjust tests for Windows
  local/git.go
  local/git_test.go
  local/storage_test.go
Due: client

Checkout master where appropriate
  .appveyor.yml
Due: none

Add appveyor builds for CLI, fix Windows filepath splitting (#361)
  .appveyor.yml
  README.md
  local/git.go
  local/git_test.go
  local/storage_test.go
Due: client

Inject version var directly into package cmd
  .scripts/release.sh
  .travis.yml
  Makefile
  cmd/deploy.go
  cmd/root.go
  inertia.go
  inertia_test.go
Due: client

Inject version var directly into package cmd (#368)
  .scripts/release.sh
  .travis.yml
  Makefile
  cmd/deploy.go
  cmd/root.go
  inertia.go
  inertia_test.go
Due: client

Set active to false before stopping containers
  daemon/inertiad/project/deployment.go
Due: daemon

Set active to false before stopping containers (#371)
  daemon/inertiad/project/deployment.go
Due: daemon

Add flag to set lines of logs to fetch (default 500)
  client/client.go
  client/client_test.go
  cmd/deploy.go
  common/request.go
  daemon/inertiad/containers/containers.go
  daemon/inertiad/logs.go
Due: client, daemon

Update dependencies
  Gopkg.lock
  Gopkg.toml
Due: none

Add more test cases for container logs
  daemon/inertiad/containers/containers_test.go
Due: daemon

Constrain go-billy dependency
  Gopkg.lock
  Gopkg.toml
Due: none

Update dependencies (#373)
  Gopkg.lock
  Gopkg.toml
Due: none

Added hall-of-fame to README
  README.md
Due: none

Add sourcerer-io/hall-of-fame to README (#374)
  README.md
Due: none

Minor fixes
  daemon/web/components/Footer/index.js
  daemon/web/components/Footer/index.sass
  daemon/web/pages/Main/index.js
  daemon/web/styles/typography.sass
Due: none

Path conditions:
  client: any of: cfg/, cmd/, client/, local/, provision/, common/
  daemon: any of: daemon/inertiad/, common/
